@model IEnumerable<Band.Models.Students>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudGradYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudInstType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudInstrument)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudHome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudSchool)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudBox)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudPhone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudGradYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudInstType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudInstrument)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudHome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudSchool)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudBox)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudPhone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
