@model IEnumerable<Band.Models.Maintenance>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InstrumentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MComment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.InstrumentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MComment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaintenanceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaintenanceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaintenanceID })
        </td>
    </tr>
}

</table>
